<!doctype html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
				.signup{background-color: #4e6ff0; border-color: #4e6ff0;}

    </style>
		<div>
			<img style="display: block; margin-left: auto; margin-right: auto;" src="./public/images/FRA-UAS_Logo.png" alt="FRA-UAS">
		</div>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h2><span class="fa fa-sign-in"></span> Signup</h2>

    <!-- LOGIN FORM -->
    <form action="/register" method="get">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" value="<%- username -%>">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" value="<%- password -%>">
        </div>
				<div class="form-group">
					<label>IP Address</label>
					<input type="text" class="form-control" name="hostname" value="<%- hostname -%>">
				</div>
				<div class="form-group">
					<label>Port</label>
					<input type="number" class="form-control" name="port" value="<%- port -%>">
				</div>
				<div class="form-group">
					<label>Remote system username</label>
					<input type="text" class="form-control" name="systemUsername" value="<%- systemUsername -%>">
			</div>
				 <div class="form-group">
            <label>Remote system password</label>
            <input type="password" class="form-control" name="systemPassword"  value="<%- systemPassword -%>">
        </div>

				<div class="form-group">
					<label for="connection">Connection Type</label>
					<select name="connection" id="connection" value="<%- connection -%>">
						<option value="vnc">VNC</option>
						<option value="rdp">RDP</option>
					</select>
				</div>
        <button type="submit" class="btn btn-warning btn-lg signup">Signup</button>
    </form>
    <hr>
    <p>Already have an account? <a href="/">Login</a></p>
</div>
</div>
</body>
</html>
